{
	"trailingComma": "all",
	"tabWidth": 2,
	"semi": false,
	"arrowParens": "always",
	"singleQuote": true,
	"useTabs": false,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"requirePragma": true,
	"parser": "typescript",
	"singleAttributePerLine": true,
	"htmlWhitespaceSensitivity": "strict",
	"jsxSingleQuote": true
}